<div class= "left">
p  &nbsp;Project Name: 
	<strong> #{@project_title} </strong>
p  &nbsp;Project List: 
	#{@project_list}
</div>

/*This uses the ‘=’ sign to evaluate a Ruby variable. Slim will output the result of whatever Ruby is placed after the ‘=’ sign*/
